.Contact {
    padding: 15px;
    background-color: rgba(0, 0, 139, 0.234);
    border-radius: 12px;
    width: 100%;

}

.Contact-p {
    margin: 10px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.Contact-p i {
    color: dodgerblue;
}